body {
    width:900px;
    font:16px Arial, Helvetica, sans-serif;
} 

a {
    font-weight:bold;
    font-size:20px;
    text-decoration:none;
    padding:10px;
    color:#787d5a;
}

.border-img {
    border:solid #787d5a 10px;  
}

.ana-color{
    color:#787d5a;
    text-align:center;
}

#menu {
    background-color:#b7bd91;
    padding:20px;
}

#conteudo {
    background-color:#c8cfa1;
    padding:10px;
}
